.splash-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #dfe8d9 0%,
    #ffffff 50%,
    #f8e9c6 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-logo {
  width: 280px;
  height: auto;
  animation: fade 2s ease-in
}